<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Strict//EN">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <!--#include virtual="/views/shared/modals/modal-base.html" -->
    <!--#include virtual="styles.html" -->
</head>
<body>
    <nav>
        <!--#include virtual="/views/includes/nav-main.html" -->
        <!--#include virtual="/views/includes/nav-project.html" -->
        <!--#include virtual="/views/includes/nav-user.html" -->
    </nav>
    <!--#include virtual="header.html" -->
    <div class="content">
        <!--#include virtual="content.html" -->
    </div>
    <!--#include virtual="footer.html" -->
    <!--#include virtual="scripts.html" -->
    <!--#include virtual="/views/shared/modals/modal-dialog.html" -->
    <!--#include virtual="/views/shared/modals/modal-alert.html" -->
    <!--#include virtual="/views/shared/modals/modal-confirm.html" -->
</body>
</html>
