<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>Environmental Obligations Management System</title>
    <!--#include virtual="styles.html" -->
</head>
<body>
    <div class="header">
        <h1>Environmental Obligations Management System</h1>
    </div>
    <div class="nav">
        <!--#include virtual="includes/nav.html" -->
    </div>
</body>
</html>
