- Enveng group is the owner of the repository.
- No change can be committed without a review from one of the team members.
- No pull request can be made directly to the main branch.
- Please use the develop branch for pull requests.

##

### Contact Information

- [enveng-group](https://github.com/enveng-group) - enveng-group agallo
