# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch
*.Plo

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Ignore build artifacts
build/
lib/
obj/
bin/
logs/
tmp/
m4/
dist/
deps/

# Ignore configuration files
config.log
config.status
config.h
config.h.in~
config.h.in
config.cache
config.guess
config.sub
configure
configure~
configure.ac~
aclocal.m4
autom4te.cache/
Makefile.in

# Ignore tests
tests/Makefile
tests/Makefile.in

# Ignore other unnecessary files
*.log
*.tmp
*.swp
.DS_Store
.env*
.flaskenv*
!.env.project
!.env.vault

# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
