<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
  <title>About Us</title>
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
  <!--#include virtual="../includes/styles.html" -->
  <!--#include virtual="../common/scripts.html" -->
</head>
<body>
  <!--#include virtual="../includes/nav-base.html" -->
  <div class="content">
    <h1>About Us</h1>
    <p>Welcome to our company. We are dedicated to providing the best service.</p>
    <!--#include virtual="../includes/contact.html" -->
    <!--#include virtual="../includes/filters.html" -->
    <!--#include virtual="../includes/search.html" -->
    <!--#include virtual="../includes/validation.html" -->
    <!--#include virtual="../includes/input.html" -->
    <!--#include virtual="../includes/select.html" -->
    <!--#include virtual="../includes/button.html" -->
    <!--#include virtual="../includes/error.html" -->
    <!--#include virtual="../includes/data-table.html" -->
    <!--#include virtual="../includes/modal-base.html" -->
    <!--#include virtual="../includes/modal-confirm.html" -->
    <!--#include virtual="../includes/modal-alert.html" -->
    <!--#include virtual="../includes/modal-dialog.html" -->
  </div>
</body>
</html>
