<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">

<head>
  <title>WS4696 Records Management</title>
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
  <!--#include virtual="/views/common/styles.html" -->
  <!--#include virtual="/views/common/scripts.html" -->
</head>

<body>
  <!--#include virtual="/views/common/header.html" -->
  <div class="content">
    <div class="container">
      <!--#include virtual="/views/common/filters.html" -->
      <!--#include virtual="/views/common/search.html" -->
      <!-- Content specific to CRUD operations for WS4696 -->
    </div>
  </div>
  <!--#include virtual="/views/common/footer.html" -->
</body>

</html>
