<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">

<head>
  <title>Manage MS1180 Records</title>
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
  <!--#include virtual="/views/common/styles.html" -->
  <!--#include virtual="/views/common/scripts.html" -->
</head>

<body>
  <!--#include virtual="/views/common/header.html" -->
  <div class="content">
    <div class="container">
      <!-- Content specific to CRUD operations for MS1180 -->
      <!--#include virtual="/views/common/filters.html" -->
      <!--#include virtual="/views/common/search.html" -->
      <!--#include virtual="/views/common/validation.html" -->
      <!--#include virtual="../includes/input.html" -->
      <!--#include virtual="../includes/select.html" -->
      <!--#include virtual="../includes/button.html" -->
      <!--#include virtual="../includes/error.html" -->
      <!--#include virtual="../includes/data-table.html" -->
      <!--#include virtual="../includes/modal-base.html" -->
      <!--#include virtual="../includes/modal-confirm.html" -->
      <!--#include virtual="../includes/modal-alert.html" -->
      <!--#include virtual="../includes/modal-dialog.html" -->
    </div>
  </div>
  <!--#include virtual="/views/common/footer.html" -->
</body>

</html>
