<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Strict//EN">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>Error Message Display</title>
    <link rel="stylesheet" type="text/css" href="../common/styles.html">
    <script type="text/javascript" src="../common/scripts.html"></script>
</head>
<body>
    <form onsubmit="return validateForm();">
        <div class="form-field">
            <label for="inputField">Input Field:</label>
            <input type="text" id="inputField" name="inputField" onblur="validateField(this)">
            <span class="validation-message" id="inputField-error"></span>
        </div>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
