<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>Page Title</title>
    <style type="text/css">
        /* Inline CSS following CSS 2.1 standard */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
    <!-- Page content goes here -->
    <script type="text/javascript">
        // Inline JavaScript following ES3 standard
        "use strict";
        function init() {
            // Initialization code
        }
        window.onload = init;
    </script>
</body>
</html>
