<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>Dropdown Positioning</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <div id="dropdownBottom" class="dropdown bottom">Bottom-aligned dropdown</div>
    <div id="dropdownRight" class="dropdown right">Right-aligned dropdown</div>
    <div id="dropdownCenter" class="dropdown center">Center-aligned dropdown</div>
    <script type="text/javascript">
        "use strict";
        function showDropdown(id) {
            var dropdown = document.getElementById(id);
            if (dropdown) {
                dropdown.style.display = 'block';
            }
        }
        function hideDropdown(id) {
            var dropdown = document.getElementById(id);
            if (dropdown) {
                dropdown.style.display = 'none';
            }
        }
        function positionDropdown(id, align) {
            var dropdown = document.getElementById(id);
            if (dropdown) {
                dropdown.className = 'dropdown ' + align;
            }
        }
    </script>
</body>
</html>
