<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
  <title>Navigation</title>
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
  <style type="text/css">
    .nav-section {
        display: block;
        margin: 0;
        padding: 0;
    }
    .nav-list {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .nav-item {
        display: inline-block;
        margin: 0 10px;
    }
    .nav-link {
        text-decoration: none;
        color: #333333;
    }
    .nav-right {
        float: right;
    }
  </style>
  <!--#include virtual="styles.html" -->
  <!--#include virtual="scripts.html" -->
  <!--#include virtual="input.html" -->
  <!--#include virtual="button.html" -->
  <!--#include virtual="select.html" -->
  <!--#include virtual="error.html" -->
  <!--#include virtual="modal-base.html" -->
  <!--#include virtual="modal-confirm.html" -->
  <!--#include virtual="modal-alert.html" -->
  <!--#include virtual="modal-dialog.html" -->
</head>
<body>
  <div class="nav-container">
    <!--#include virtual="nav-main.html" -->
    <!--#include virtual="nav-project.html" -->
    <!--#include virtual="nav-user.html" -->
  </div>
  <!--#include virtual="data-table.html" -->
  <!--#include virtual="filter-row.html" -->
  <!--#include virtual="sort-header.html" -->
  <!--#include virtual="pagination.html" -->
</body>
</html>
