<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
  <title>Print Layout</title>
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
  <!--#include virtual="/views/common/styles.html" -->
  <!--#include virtual="/views/common/scripts.html" -->
</head>
<body>
  <div class="container">
    <!--#include virtual="/views/common/nav-base.html" -->
    <main class="content">
      <h1>Print Layout</h1>
      <p>This is the print layout page.</p>
      <!--#include virtual="/views/common/input.html" -->
      <!--#include virtual="/views/common/select.html" -->
      <!--#include virtual="/views/common/button.html" -->
      <!--#include virtual="/views/common/data-table.html" -->
      <!--#include virtual="/views/common/modal-base.html" -->
      <!--#include virtual="/views/common/modal-confirm.html" -->
      <!--#include virtual="/views/common/modal-alert.html" -->
      <!--#include virtual="/views/common/modal-dialog.html" -->
    </main>
  </div>
</body>
</html>
