<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>Form Buttons</title>
    <!--#include virtual="../common/styles.html" -->
    <!--#include virtual="../common/modal-base.html" -->
    <!--#include virtual="../common/modal-confirm.html" -->
    <!--#include virtual="../common/modal-alert.html" -->
    <!--#include virtual="../common/modal-dialog.html" -->
</head>
<body>
    <form>
        <input type="submit" value="Submit" class="form-button">
        <input type="reset" value="Reset" class="form-button">
    </form>
    <!--#include virtual="../common/scripts.html" -->
</body>
</html>
