<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>Select Dropdown</title>
    <!--#include virtual="../common/styles.html" -->
    <!--#include virtual="../common/modal-base.html" -->
    <!--#include virtual="../common/modal-confirm.html" -->
    <!--#include virtual="../common/modal-alert.html" -->
    <!--#include virtual="../common/modal-dialog.html" -->
</head>
<body>
    <div class="error-container" id="form-errors"></div>
    <form onsubmit="return validateSelect();">
        <div class="form-field required">
            <label for="dropdown">Select Option:</label>
            <select id="dropdown" name="dropdown" class="form-input">
                <option value="">Please select...</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
            </select>
        </div>
        <div class="form-field">
            <div class="error-message" id="select-error"></div>
            <input type="submit" value="Submit" class="form-button">
        </div>
    </form>
    <!--#include virtual="../common/scripts.html" -->
    <script type="text/javascript">
        "use strict";
        function validateSelect() {
            var select = document.getElementById('dropdown');
            var errorContainer = document.getElementById('form-errors');

            errorContainer.innerHTML = '';

            if (!select.value) {
                showError('Please select an option');
                return false;
            }
            return true;
        }

        function showError(message) {
            var errorContainer = document.getElementById('form-errors');
            errorContainer.innerHTML += '<div class="error">' + message + '</div>';
        }
    </script>
</body>
</html>
